# ===== Build output =====
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

# ===== Compiled files =====
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a

# ===== VS Code =====
.vscode/

# ===== OS / Misc =====
.DS_Store
Thumbs.db